:root {
	--primary: #3b4465
	--secondary: #3b4465;
	--shades: rgba(238, 238, 238, 1.0);
}
* {
	scroll-behavior: smooth;
}
body {
	font-family: 'Source Code Pro', monospace;
	line-height: 1.6;
	margin: 0;
}
.navbar {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: var(--primary);
	-webkit-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
	box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

.display__logo {
	font-size: 2.5rem;
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1;
	color: inherit;
}

.nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav__link {
	color: var(--shades);
	text-decoration: none;
}

.brand {
	margin: 0;
	font-size: 1.45em;
}

.brand a {
	text-align: center;
	display: block;
}

.brand .nav__link,
.nav__items .nav__link {
	padding: 10px 15px;
	text-align: center;
	display: block;
}

.nav__items .nav__link:hover {
	color: var(--secondary);
}

@media screen and (min-width: 800px) {
	.navbar,
	.nav__items {
		display: flex;
		/* position: fixed; */
	}
	.navbar {
		flex-direction: column;
		align-items: left;
	}
	.navbar {
		flex-direction: row;
		justify-content: space-between;
	}
}

#nav:checked+.nav__open {
	transform: rotate(45deg);
}

#nav:checked+.nav__open i {
	background-color: var(--shades);
	transition: transform 0.2s ease;
}

#nav:checked+.nav__open i:nth-child(1) {
	transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav__open i:nth-child(2) {
	opacity: 0;
}

#nav:checked~.nav__item a {
	display: block !important;
}

#nav:checked+.nav__open i:nth-child(3) {
	transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav {
	z-index: 9990;
	opacity: 1;
}

#nav:checked~.nav ul li a {
	opacity: 1;
	transform: translateY(0);
}