<!-- <app-sidebar></app-sidebar> -->
<app-header></app-header>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<!-- <app-login></app-login> -->